In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import string
from itertools import chain
from collections import Counter
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [ ]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
url = "https://raw.githubusercontent.com/shivvignesh/IMDb-reviews-Sentiment-Analysis/master/dataset.csv"
data = pd.read_csv(url,encoding = "ISO-8859-1",nrows=10000)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SentimentText  10000 non-null  object
 1   Sentiment      10000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 156.4+ KB

In [ ]:
data.head()

                                       SentimentText  Sentiment
0  first think another Disney movie, might good, ...          1
1  Put aside Dr. House repeat missed, Desperate H...          0
2  big fan Stephen King's work, film made even gr...          1
3  watched horrid thing TV. Needless say one movi...          0
4  truly enjoyed film. acting terrific plot. Jeff...          1

In [ ]:
translator = str.maketrans('', '', string.punctuation)
stopwords = nltk.corpus.stopwords.words('english')


data["SentimentText_clean"] = data.SentimentText.map(lambda x: x.strip().lower().translate(translator))
data["SentimentText_clean"].head()

0    first think another disney movie might good it...
1    put aside dr house repeat missed desperate hou...
2    big fan stephen kings work film made even grea...
3    watched horrid thing tv needless say one movie...
4    truly enjoyed film acting terrific plot jeff c...
Name: SentimentText_clean, dtype: object

In [ ]:
X = data.SentimentText_clean
y = data.Sentiment

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [ ]:

TfidfVectorizer?

In [ ]:

tfidf = TfidfVectorizer(stop_words="english",max_df=0.99,min_df=0.01)
svc = SVC()
model = make_pipeline(tfidf, svc)
#Training
model.fit(X_train, y_train)

#Prediccion sobre test
preds= model.predict(X_test )

In [ ]:
np.mean(preds==y_test)

0.8403030303030303